.header-wrap {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background: #007bff;
}
.navbar-nav a{
    color: white !important;
    font-weight: 500;
}
.header-user-state {
    color: white;
    line-height: 40px;
}
.header-user-state.nav-link {
    padding: 0;
}
.nav-link:hover {
    color: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width: 768px) {
    .header-user-state {
        max-width: 150px;
        min-width: 60px;
        height: 30px;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }
    #searchbox {
        flex-wrap: nowrap;
    }
}